header{
	
	background-image: url(Images/Tech.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 400px;
}
header div .col-4{
	margin-top: 300px;}

nav{
	background-color: blue;

}
h2:hover {
	background-color: gray;
}


section  div  .col-7 {
	
	font-style: italic;
	font-size: 50px;
	color: blue;}
	

 


 section div .co-4 {

color: blue; 
 }

 }
 h3{
 	text-align: center;
 	font-style: italic;
 }
 h5{
 	color: blue;
 	
 }
 img {
 	width: 300px;
 	height: 200px;
 	border-radius: 80px;
 	border: solid blue;
 	
 	padding: 5px;
 }

 .tot{
 	width: 100%;
 	height: 90%; 
 }
 input{
 	background: rgb(92, 177, 237);
 }